@import "../../styles/vars.scss";

.form {
  background-color: $black;
  display: flex;
  flex-direction: column;
  gap: 73px;
  padding: 73px 63px;
  align-items: center;
  border-radius: 62px;
  width: 581px;
  margin: 0 auto;
  font-weight: 300;
  button {
    padding: 12px 91px;
    border-radius: 23px;
    font-size: 24px;
    font-weight: 300;
    border: 3px solid $btnColor;
    box-sizing: border-box;
    &:hover {
      background-color: $btnColor;
    }
  }
  input {
    padding: 7px 11px;
    border: 1px solid $btnColor;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

.header {
  font-size: 30px;
  line-height: 40px;
}
