.form {
    margin: 40px auto 0 auto;
    padding: 50px 150px;
    width: 900px;
    height: 550px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    border-radius: 60px;
    box-shadow: 8px 8px 20px 0px rgba(0, 0, 0, 0.25);
    background: #131415;

    .block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        color: #E7DBF4;
        text-align: center;
        font-family: Ysabeau SC;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        .icon {
            width: 45px;
            height: 45px;
            cursor: pointer;
        }
    }

    .title {
        color: #7290BD;
        text-align: center;
        font-family: Ysabeau SC;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    textarea {
        padding: 10px 15px;
        resize: none;
        width: 600px;
        height: 150px;
        overflow-y: auto;
        border-radius: 24px;
        border: 4px solid #7290BD;
        background: #E7DBF4;
        color: black;
        box-shadow: 0px 0px 40px 0px rgba(114, 144, 189, 0.40);
    }

    .submit {
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: center;

        button {
            width: 257px;
            padding: 15px 35px;
            border-radius: 23px;
            border: 3px solid #7290BD;
        }

        .sign {
            background: #7290BD;
        }

        .sign:active {
            background: transparent;
        }

        .notSign:active {
            background: #7290BD;
        }
    }
}