*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: Roboto, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  text-transform: inherit;
  background-color: transparent;
  border: none;
}

button,
input[type='button'] {
  border: 0;
  cursor: pointer;
}