@import "../../styles/vars.scss";

.form {
  background-color: $black;
  display: flex;
  flex-direction: column;
  gap: 69px;
  padding: 48px 63px 61px;
  align-items: center;
  border-radius: 62px;
  width: 581px;
  font-weight: 300;
  button {
    padding: 12px 91px;
    border-radius: 23px;
    font-size: 24px;
    font-weight: 300;
    border: 3px solid $btnColor;
    box-sizing: border-box;
    &:hover {
      background-color: $btnColor;
    }
  }
  input {
    padding: 7px 11px;
    border: 1px solid $btnColor;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  margin-bottom: 16px;
}

.header {
  font-size: 30px;
  line-height: 40px;
}

.select {
  div {
    font-family: "Ysabeau SC", sans-serif !important;
    font-size: 20px !important;
    background-color: $black !important;
    color: $textColor !important;
    border: 1px solid $btnColor !important;
    span {
      color: $textColor !important;
    }
  }
  span {
    color: $textColor !important;
  }
}

.selectList {
  font-family: "Ysabeau SC", sans-serif !important;
  div {
    font-size: 20px !important;
  }
}
