@import "../../styles/vars.scss";

header {
  position: inherit;
  padding: 50px 80px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  svg {
    width: 35px;
    height: 35px;
  }
}

.menu {
  height: 35px;
  font-size: 25px;
  cursor: pointer;
  font-weight: 100;
}

.dropdownContainer {
  ul {
    background-color: $background !important;
    padding: 30px 8px !important;
    box-shadow: -5px 5px 10px #131415 !important;
    li {
      color: $textColor !important;
      font-family: "Ysabeau SC", sans-serif !important;
      font-size: 22px !important;
      font-weight: 300 !important;
      span {
        text-align: center;
      }
      &:hover {
        transform: translate(2px, -2px);
      }
    }
  }
}
